<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0; height: 190px;">
                    <a
                    href="components/patientList/patientList.json"
                    class="site_title"
                    style="height: 190px; text-align: center; padding: 0px;">
                        <img src="images/physiotherapie-logo-login.png" alt="..." style="width:166px;">
                        <span style="position: absolute;
                        left: 0px;
                        bottom: -20px;
                        width: 100%;"></span>
                    </a>
                </div>


                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="images/profile.png" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>{{lang-bind:welcome}},</span>
                        <h2 class="_kullaniciAdi"></h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>{{lang-bind:main_menu}}</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-home"></i> {{lang-bind:menu}} <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a class="adenSideMenu" href="components/patientList/patientList.json">{{lang-bind:patient_list}}</a></li>
                                    <li><a class="adenSideMenu" href="components/addPatient/addPatient.json">{{lang-bind:add_patient}}</a></li>
                                    <!--<li>
                                        <a class="adenSideMenu" href="components/erkrankungenSymptome/erkrankungenSymptome.json">
                                            4a. Erkrankungen bzw. Symptome meines Körpers
                                        </a>
                                    </li>-->
                                </ul>
                            </li>
                            <li id="adminMenu"><a><i class="fa fa-user"></i> {{lang-bind:admin}} <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a class="adenSideMenu" href="admin/definitions/user/userDefinitions.json">
                                            <span class=" fa fa-user-plus"></span> {{lang-bind:users}}
                                        </a>
                                    </li>

                                    <li>
                                        <a class="adenSideMenu" href="admin/definitions/hastaList/hastaList.json">
                                            <span class=" fa fa-user-plus"></span> {{lang-bind:patient_list}}
                                        </a>
                                    </li>

                                    <li>
                                        <a class="adenSideMenu" href="admin/definitions/merkez/merkez.json">
                                            <span class=" fa fa-user-plus"></span> {{lang-bind:center_definition_screen}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <!--<div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="javascript:goc.scd.logout()">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>-->
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">

                        <li role="presentation" class="dropdown">
                                <a href="javascript:;" onClick="goc.interceptors.checkRemoteConnectionStatus();" class="dropdown-toggle info-number" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="fa fa-refresh"></i>
                                    <span class="badge bg-red"></span>
                                </a>
                        </li>

                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                                <img src="images/profile.png" alt="">
                                <span class="_kullaniciAdi"></span>
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:goc.scd.logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span lang-bind="language">German</span>
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li>
                                    <a href="javascript:goc.lang.setSelectedLang('de');">
                                        <span>DE</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:goc.lang.setSelectedLang('tr');">
                                        <span>TR</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:goc.lang.setSelectedLang('en');">
                                        <span>EN</span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div id="content" class="right_col" role="main">

        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Created By <a href="https://adenjs.com">AdenJs</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
