
<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div id ="login_form" class="animate form login_form">
      <section class="login_content">
        <form id="login" name="login">

          <img src="images/physiotherapie-logo-login.png" alt="..." style="width:100%;">
          <h1>Physiotherapie</h1>

          <div>
            <input type="text" name="username" class="form-control" placeholder="Benutzername [E-Mail Address]" required="" />
          </div>
          <div>
            <input type="password" name="password" class="form-control" placeholder="Passwort" required="" />
          </div>
          <div>
            <a class="btn btn-primary submit" style="width: 100%;" href="javascript:goc.scd.login()">Login</a>
            <a class="reset_pass" href="javascript:authenticate.reset()">Passwort vergessen?</a>
            <a class="reset_pass" href="javascript:authenticate.register()">Registrieren</a>
          </div>

        </form>
      </section>
    </div>

    <div id ="reset_form" class="animate form login_form" style="display: none;">
      <section class="login_content">
        <form id="reset" name="login">
          <img src="images/physiotherapie-logo-login.png" alt="..." style="width:100%;">
          <h1>Physiotherapie</h1>
          <div>
            <input type="text" id="usernameReset" name="mailadress" class="form-control" placeholder="Benutzername [E-Mail Address]" required="" />
          </div>
          <div>
            <a class="btn btn-primary submit" style="width: 100%;" href="javascript:authenticate.getSifremiUnuttum()">Passwort zurücksetzen</a>
            <a class="reset_pass" href="javascript:authenticate.login()">Login</a>
          </div>
        </form>
      </section>
    </div>

    <div id ="register_form" class="animate form login_form" style="display: none;">
      <section class="login_content">
        <form id="register" name="register">
          <img src="images/physiotherapie-logo-login.png" alt="..." style="width:100%;">
          <h1>Physiotherapie</h1>
          <h1>Anmeldung</h1>
          <div>
            <input type="text" name="name" class="form-control" placeholder="Vorname" required="" />
          </div>
          <div>
            <input type="text" name="surname" class="form-control" placeholder="Nachname" required="" />
          </div>
          <div>
            <input type="text" name="mailadress" class="form-control" placeholder="Benutzername [E-Mail Address]" required="" />
          </div>
          <div>
            <input type="password" name="password" class="form-control" placeholder="Passwort" required="" />
          </div>
          <div>
            <input type="password" name="repassword" class="form-control" placeholder="Passwort erneut eingeben" required="" />
          </div>
          <div>
            <a class="btn btn-primary submit" style="width: 100%;" href="javascript:authenticate.registration()">Registrieren</a>
            <a class="reset_pass" href="javascript:authenticate.login()">Login</a>
          </div>

        </form>
      </section>
    </div>

  </div>
</div>
