<style>
    .x_title h2{
        white-space: normal;
    }
    .iziToast-capsule, .iziToast-capsule * {
        box-sizing: border-box;
        word-break: break-all;
        white-space: normal;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <h3>{{lang-bind:PHYSIONATURHEIL}}
            <small data-bind="subTitle"></small>
        </h3>
    </div>
    <div id="mainContent" class="col-xs-12">

    </div>
</div>
