.login_content {
    background: white;
    text-shadow: none;
}

.login_content img{
    margin: 2rem 0rem 4rem;
}

.navbar.nav_title{
    height: auto !important;
    background: none;
}

.profile {
    background: none !important;
}

.site_title{
    height: auto !important;
    line-height: 54px !important;
}


.navbar img{
    width: 100% !important;
}

.left_col {
    border-right: solid 1px #2a3f54;
    background: none;
    box-shadow: none;
}
